# include meta data
include LICENSE
include README.rst
# include documentation and files needed by documentation
recursive-include docs *.py *.rst
# include tests and files needed by tests
include .pylintrc tox.ini
recursive-include test_project *.py *.html
recursive-include rolca/core/tests *.py
recursive-include rolca/frontend/tests *.py
# exclude docker-compose configuration
exclude docker-compose.yml
