# include meta data
include LICENSE
include README.rst
# include documentation and files needed by documentation
recursive-include docs *.py *.rst
# include tests and files needed by tests
include .pylintrc
include tox.ini
include tests/.env
recursive-include tests *.py *.yml *.html
recursive-include rolca/core/tests *.py
recursive-include rolca/frontend/tests *.py
