# include meta data
include LICENSE
include README.rst
# include documentation and files needed by documentation
recursive-include docs *.py *.rst
# include tests and files needed by tests
include tox.ini
include pyproject.toml
include tests/.env
recursive-include tests *.py *.yml *.html
include src/rolca/core/tests/*.py
include pytest.ini
